{% extends "registrar/base.html" %}

{% block content %}

<h2>Agregar Categoria</h2>
    <form method="post">
        {% csrf_token %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Categoria</th>
                    <th scope="col"><input class="form-control" type="text" id="nombre_categoria" name="nombre_categoria" value="" aria-label="readonly input example" required></th>
                </tr>
                <tr>
                    <th scope="col">Descripcion</th>
                    <th scope="col"><input class="form-control" type="text" id="descripcion_categoria" name="descripcion_categoria" value="" aria-label="readonly input example" ></th>
                </tr>
                <tr>
                    <th scope="col">Tipo de Categoría:</th>
                    <th scope="col">
                        <select class="form-select" id="tipo_categoria" name="tipo_categoria" aria-label="Default select example">
                            <option selected value="comestible">Comestible</option>
                            <option value="no_comestible">No Comestible</option>
                        </select>
                    </th>
                </tr>
            </thead>
        </table>
        <button type="submit" class="btn btn-primary">Agregar Categoria</button>
    </form>

{% endblock %}